.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

p {
    font-size: 6em;
}

.q {
  font-size: 1.5em
}