.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

audio {
  width: 60%
}

p {
    font-size: 75px;
}

.q {
  font-size: 1.5em
}